<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="signUp.css">
</head>
<body>

<fieldset>
    <legend>Sign Up</legend>
    <form action="/signUp" method="post">

    <label for="username">User Name</label>
    <input type="text" name="username" id="username" required/>

    <label for="password">password</label>
    <input type="password" name="password" id="password" required/>

    <input type="submit" />
</form>
</fieldset>
</body>
</html>